<!DOCTYPE html>
<html>
  <head>
    <title>B2B Syariah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='description' content='B2B Travel Syariah'>
    <meta name='author' content='PT. B2B Travel'>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'Index' %>
  </head>

  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id='root'></div>
    <script src='/js/jquery-2.2.4.min.js'></script>
    <script src='/js/common_scripts_min.js'></script>
    <script src='/js/functions.js'></script>
    <script src='/js/notify_func.js'></script>
  </body>
</html>
